<?xml version="1.0" encoding="utf-8"?>
<!--
    AndroidManifest.xml
    CATATAN: package attribute dihapus dari sini.
    Namespace kini diatur via 'namespace' di app/build.gradle
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RegisterApp">

        <!-- LoginActivity: Entry point / Launcher -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegisterActivity: Halaman daftar akun baru -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

        <!-- SuccessActivity: Sukses daftar akun -->
        <activity
            android:name=".SuccessActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

        <!-- HomeActivity: Dashboard setelah login (TabLayout 3 tab) -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

        <!-- FormActivity: Form pendaftaran seminar -->
        <activity
            android:name=".FormActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

        <!-- ResultActivity: Halaman hasil pendaftaran -->
        <activity
            android:name=".ResultActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

    </application>

</manifest>
